.Navbar {
  background-color: #1b242f;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid #04c2c9;
}

.NavbarUl {
  list-style: none;
  width: 100%;
  padding: .8rem;
} 

.NavbarLi {
  display: inline;
}

.NavbarA {
  color: #fff;
  margin: 0 1.1rem;
  font-weight: 200;
  transition: color .5s ease;
}

.NavbarLi:hover {
  background-color: #1e242c;
  height: 100%;
}

.NavbarA:hover {
  color: #e31b6d;
}

.Active {
  color: #e31b6d;
}