.Large {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  
  transition: all .5s ease;
}

.Small {
  max-width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .Large {
    max-width: 100%;
  }

  .Small {
    max-width: 80%;
  }
}