.Flex {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0; 
}

@media (max-width: 750px) {
  .Flex {
    flex-direction: column;
    margin: 0 auto;
  }
}

.FlexWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}