.img {
  width: 100%;
  min-height: fit-content;
}

.ProjectBody {
  background-color: #252934;
  position: relative;
  min-height: 17rem;
  overflow: hidden;
}

.Technologies {
  margin-bottom: .5rem;
  
  transform: translateY(-2rem);
  opacity: 0;
}

.Description {
  color: #fff;
  font-size: .9rem;
  
  transform: translateX(-2rem);
  opacity: 0;
}

.CTA {
  transform: translatey(2rem);
  opacity: 0;

}

.Info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #1e242c;
  color: #04c2c9;
  
  opacity: 0;
  transition: all .3s ease-in;
}

.Info a {
  padding: 1rem;
}

.Info:hover {
  opacity: 1;
}

.Info:hover .Technologies {
  transition: all .4s ease-in;
  opacity: 1;
  transform: translateY(0);
}

.Info:hover .Description {
  transition: all .4s ease-in;
  opacity: 1;
  transform: translateX(0);
}

.Info:hover .CTA {
  transition: all .4s ease-in;
  opacity: 1;
  transform: translateY(0);
}