.Contact {
  background-color: #252934;
  color: #fff;
  padding-bottom: 3rem;
}

.Contact input[type='submit'] {
  width:fit-content;
  margin-left: auto;
}

.ErrorMessage {
  margin-bottom: .5rem;
  text-align: right;
}

.SuccessMessage {
  background-color: green;
  color: #fff;
  margin-bottom: .5rem;
  padding: 1rem;
}