.Footer {
  position: relative;
  background-color: #1b242f;
  text-align: center;
  color: #8f9aa7;
  font-size: .8rem;
  padding: 3rem 0;
}

.FooterIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.FooterIcon {
  padding: 1rem; 
  background-color: #262f38;
  color: #fff;
  transition: .5s ease all;
}

.FooterIcon:hover {
  background-color: #04c2c9;
}

.ResumeIcon:hover {
  transition: all .5s ease-out ;
  transform: scale(1.1);
}

.FooterLink:not(:first-child) {
  margin-left: 1rem;
}

.ScrollUp {
  background-color: #e31b6d;
  width: 3rem;
  height: 3.2rem;
  display: inline-block;
  position: absolute;
  top: -.1rem;
  cursor: pointer;
  transition: all .5s ease;
  transform: translate(-50%, -50%);
}

.ScrollUp:hover {
  background-color: #fc1f7b;
}