.Card {
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
  padding: 2rem;
  transition: transform .2s ease-out;
  max-width: 30%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .Card {
    margin: 1rem auto;
    max-width: 50%;
  }
}

  .Card:hover {
    transform: translateY(-.5rem);
    border: 2px solid #04c2c9;
  }
  @media screen and (max-width: 750px) {
    .Card:hover {
      transform: translateY(0);
      transform: scale(1.1);
    }
  }