.Card {
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
  padding: 1.8rem;
  transition: transform .3s ease-out;
  max-width: 30%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
}

.Card:hover {
  transform: scale(1.1) !important;
  border: 2px solid #04c2c9;
}

@media (max-width: 1100px) {
  .Card {
    padding: 1rem;
  }
}

@media (max-width: 750px) {
  .Card {
    margin-bottom: 2rem;
    max-width: 100%;
  }

  .Card:hover {
    transform: scale(1.1);
  }
}